html, body, #cesiumContainer {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}


/* Overwrite default styles*/

/*.ol-control button{
.layer-switcher button {
    width: 2em;
    height: 2em;
    background-color: black;
    border: None;
    #color:white;
    font-family: 'Impact', fantasy, sans-serif;*/
}*/

/*.ol-control button:hover {
.layer-switcher button:hover {
    background: black;
    #border: 2px solid #e6ce1d;
    border-radius: 5px;
    color:#fdec00;
}*/
/*
.ol-control button:focus{
    background-color:black;
    outline: none;
}

.ol-control{
    background-color: black;
}

.ol-control:hover{
    background-color: black;
}
*/